html, body
{
  height: 100%;
  margin: 0;
}
#output
{
	padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px;
}
body
{
background-image: linear-gradient(to right top, #027777, #048b79, #09918a, #05afa1, #03b6b6);
}
.header
{
	color: rgb(255, 211, 15);font-family:cursive; font-size: 40px;;margin-top: 50px; font-weight: bold; font-style: italic;
}
h1{
    color: rgb(123, 255, 0);font-family:'Times New Roman', Times, serif; font-size: 30px;;margin-top:10px; font-weight: bold; font-style: italic;
}
.header img
{
	width: 60px;margin-left: -15px;
}
#logout
{
	font-size: 20px; border-radius:18px; height:50px; width:12%; float: right;
}
.color_white
{
	color: white
}
.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: white;font-size: 20px;
}

